{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles4.css' %}">
    <title>GoSport</title>
</head>
<body>
    
    <section id="login_sec">

        <div id="login_div">

            <span>Connexion</span>
            <div id="reg_redirect" >
                    <span>Vous n'avez pas de compte?</span>
                    <a href="{% url 'register' %}">S'enregistrer</a>
            </div>

            <form method="post" action="{% url 'login0' %}">
                {% csrf_token %}  

            <div id="login_fields" >
               <input type="text" placeholder="username" name="username">
               <input type="password" placeholder="Mot de pass" name="password">
               <button type="submit" >Se connecter</button>
               <b style="margin-top: 1.5vh;" >ou se connecter avec</b>
               <div id="other_logins" >
                    <div>

                        <div class="log_alter">
                            <img src="{% static 'google.png' %}" alt="">
                        </div>
                        <div class="log_alter">
                            <img src="{% static 'facebook.png' %}" alt="">
                        </div>
                        <div class="log_alter">
                            <img src="{% static 'spotify.png' %}" alt="">
                        </div>

                    </div>

                            <!-- <img id="login_logo" src="images/logo0.png" alt=""> -->
               </div>
              
                   
            </div>
            </form>       

 
        </div>

    </section>

</body>
</html>