{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles4.css' %}">
    <title>GoSport</title>
</head>
<body>
    
    <section id="login_sec">

        <div id="login_div">

            <span>Inscription</span>
            <div id="reg_redirect" >
                    <span>Vous avez deja un compte?</span>
                    <a href=" {% url 'login' %}">Se connecter</a>
            </div>

            <form method="post" action="{% url 'register0' %}">
                {% csrf_token %}  
                {{ register_form}}
            <div id="login_fields" >
               <input type="text" name="username" placeholder="username">
               <input type="email" name="email" placeholder="email">
               <input type="password" name="password" placeholder="Mot de pass">
               <input type="password" placeholder="Confirmer mot de pass">
               <button type="submit" >S'enregistrer</button>
               <div id="other_logins" >
                    <div>

                        <div class="log_alter">
                            <img src="{% static 'google.png' %}" alt="">
                        </div>
                        <div class="log_alter">
                            <img src="{% static 'facebook.png' %}" alt="">
                        </div>
                        <div class="log_alter">
                            <img src="{% static 'spotify.png' %}" alt="">
                        </div>

                    </div>

                            <!-- <img id="login_logo" src="images/logo0.png" alt=""> -->
               </div>
              
                   
            </div>
            </form>       

 
        </div>

    </section>

</body>
</html>